<fieldset class="box <%= 'hidden' unless HighlightJsSyntaxHighlighting.settings[:allow_redefine] %>">

<legend><%=h l(:code_theme_title) %></legend>
<div class="tabular">
    <p>
        <label><%=h l(:code_theme) %></label>
        <%=select_tag("pref[code_theme]", options_for_select(
            {
                l(:label_default) => CodeThemeUserSetting::DEFAULT_CODE_THEME
            }.merge(CodeThemeUserSetting.code_themes),
            user.preference.code_theme))
        %>
    </p>
    <p>
        <em><span class="helpLink"> <%= l(:try_it_link) %> <a href="https://highlightjs.org/static/demo/" target="_blank">https://highlightjs.org/static/demo/</a> </span></em>
    </p>
</div>

</fieldset>
